
yamlApplicationConfigSecret:
  keyName: config.yaml
  name: kafbat-ui-config

# Note that the kafbat-ui secret is created by strimzi
volumes:
  - name: &sslVolumes ssl-volumes
    projected:
      sources:
        - secret:
            name: kafka-broker-tls
            optional: false
            items:
              - key: ca.crt
                path: broker-ca.crt
        - secret:
            name: kafbat-ui
            optional: false
            items:
              - key: user.p12
                path: user.p12

volumeMounts:
  - name: *sslVolumes
    readOnly: true
    mountPath: /ssl

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsGroup: 1000
  runAsUser: 1000
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL

podSecurityContext:
  fsGroup: 1000
  fsGroupChangePolicy: "OnRootMismatch"

tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"

nodeSelector:
  eks.amazonaws.com/nodegroup: bumpow-core-services