kind: DaemonSet

serviceAccount:
  name: swishkube-fluent-bit
  create: true

testFramework:
  enabled: false

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 20m
    memory: 128Mi

podLabels:
  swishkube.observability.fluent-bit/component: fluent-bit

podAnnotations:
  fluentbit.io/exclude: 'true'

tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
  - key: "ClickHouseObservabilityOnly"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"

extraPorts:
  - port: 12345
    containerPort: 12345
    protocol: TCP
    name: talos
    hostPort: 12345

flush: 1
logLevel: info
metricsPort: 2020

## https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/classic-mode/configuration-file
## config.service is templated into a configmap, which is why we can use {{ .Values.someValue }} here
## By "templated", I mean: (tpl .Values.config.service $)
config:
  service: |
    [SERVICE]
      Daemon Off
      Flush {{ .Values.flush }}
      Log_Level {{ .Values.logLevel }}
      Parsers_File /fluent-bit/etc/parsers.conf
      Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
      HTTP_Server On
      HTTP_Listen 0.0.0.0
      HTTP_Port {{ .Values.metricsPort }}
      Health_Check On

  ## https://docs.fluentbit.io/manual/pipeline/inputs
  # Note that `Path` can be a comma separated list
  inputs: |
    [INPUT]
      Name              tail
      Alias             app
      Path              /var/log/containers/*_swish-analytics_*.log
      Parser            containerd
      Tag               app.*
      Mem_Buf_Limit     10MB

  ## https://docs.fluentbit.io/manual/pipeline/filters
  filters: |
    [FILTER]
      Name                    kubernetes
      Alias                   app
      Match                   app.*
      Kube_Tag_Prefix         app.var.log.containers.
      Merge_Log               On
      Merge_Log_Key           body
      Merge_Log_Trim          On
      Keep_Log                Off
      K8S-Logging.Parser      Off
      Use_Tag_For_Meta        On

    [FILTER]
      Name                kubernetes
      Alias               kube
      Match               kube.*
      Kube_Tag_Prefix     kube.var.log.containers.
      Use_Kubelet         Off
      Merge_Log           Off
      Merge_Log_Trim      On
      Keep_Log            On
      K8S-Logging.Parser  Off
      K8S-Logging.Exclude On
      Annotations         Off
      Labels              On
      Namespace_Labels    On
      Use_Tag_For_Meta    On

  ## https://docs.fluentbit.io/manual/pipeline/outputs
  outputs: |
    [OUTPUT]
      Name                opentelemetry
      Match               *
      Host                swishkube-otel-collector.swish-analytics.svc.cluster.local
      Port                4317
      GRPC                On
      Logs_uri            /v1/logs
      logs_body_key       $body
      Tls                 On
      Tls.Verify          On
      Tls.Verify_Hostname On
      Tls.CRT_File        /certs/crt/tls.crt
      Tls.Key_File        /certs/key/tls.key
      Tls.CA_File         /certs/ca/ca.crt
      Add_label           app.kubernetes.io/name $kubernetes['labels']['app.kubernetes.io/name']
      Add_label           kubernetes.container_name $kubernetes['container_name']
      Add_label           kubernetes.namespace_name $kubernetes['namespace_name']

  ## https://docs.fluentbit.io/manual/pipeline/parsers
  customParsers: |
    [PARSER]
      Name        spicy_json
      Format      json
      Time_Keep   On
      Time_Key    timestamp
      Time_Format %Y-%m-%dT%H:%M:%S.%L%z
    
    [PARSER]
      Name          containerd
      Format        regex
      Regex         ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$
      Time_Key      time
      Time_Format   %Y-%m-%dT%H:%M:%S.%L%z

extraVolumes:
  - name: &tlsCrt tls-crt
    secret:
      secretName: swishkube-fluent-bit-client-cert
      optional: false
      items:
        - key: tls.crt
          path: tls.crt
  - name: &tlsKey tls-key
    secret:
      secretName: swishkube-fluent-bit-client-cert
      optional: false
      items:
        - key: tls.key
          path: tls.key
  - name: &caCrt ca-crt
    secret:
      secretName: swishkube-fluent-bit-client-cert
      optional: false
      items:
        - key: ca.crt
          path: ca.crt

extraVolumeMounts:
  - name: *tlsCrt
    mountPath: /certs/crt
    readOnly: true
  - name: *tlsKey
    mountPath: /certs/key
    readOnly: true
  - name: *caCrt
    mountPath: /certs/ca
    readOnly: true